.wrapper {
    margin-top: 70px;
}

.footer {
    border-top: 1px solid #DDD;
    padding: 10px 0;
    margin-top: 20px;
}

#map { 
    width: 100%;
    height:560px;
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
}

#map img {
    max-width: none;
}

#locationpicker-picker {
    margin-top: 10px;
    border-radius: 5px;
    height: 300px;
    width: 90%;
}

#locationpicker-picker img {
    max-width: none;
}

.picker-search-button {
    margin-left: 10px;
}

.dataTables_paginate {
    margin: 10px 0;
}

.dataTables_paginate a {
    margin-right: 10px;
    padding: 3px 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.item {
    border-top: 1px solid #ccc;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 10px 0;
}