
/******************************************************************************/
/*  Buttons																	  */
/******************************************************************************/

a.button-black
{
	font-size:20px;
	margin-top:20px;
}

/******************************************************************************/
/*  Form																	  */
/******************************************************************************/

	ul.form-line li.form-line-half-left,
	ul.form-line li.form-line-half-right
	{
		clear:both;
		float:left;
	}

/******************************************************************************/
/*  Testimonials list														  */
/******************************************************************************/

			ul.testimonial-list li div span.testimonial-list-author
			{
				top:-5px;
				clear:both;
				display:block;
				font-size:12px;
				position:relative;
			}
			
/******************************************************************************/
/*  Click here																  */
/******************************************************************************/
				
.click-here
{
	top:-55px;
	left:35px;
	width:70px;
	height:50px;
	background-image:url('../images/click_here_arrow_small.png');
}
			
/******************************************************************************/
/*  Main																	  */
/******************************************************************************/
			
	/**************************************************************************/
	/*  Main / Header														  */
	/**************************************************************************/

	div.header div.header-phone
	{
		float:left;
	}
	
/******************************************************************************/
/*  Latest tweets															  */
/******************************************************************************/

#latest-tweets
{
	height:160px;
}