
/******************************************************************************/
/*	Headers																	  */
/******************************************************************************/

h1,h1 a { font-size:64px; }
h2,h2 a	{ font-size:54px; }

/******************************************************************************/
/*  Form																	  */
/******************************************************************************/

		ul.form-line li input,
		ul.form-line li textarea
		{
			width:648px;
		}
		
/******************************************************************************/
/*  Newsletter form															  */
/******************************************************************************/

		#newsletter-form ul.form-line li input[type="text"]
		{
			width:569px;
		}
		
/******************************************************************************/
/*  Image list																  */
/******************************************************************************/
	
	ul.image-list li
	{
		margin-right:9px;
	}

/******************************************************************************/
/*  Image size																  */
/******************************************************************************/

ul.image-list li>div a.preloader,	
ul.image-list li>div a.overlay-image span,
ul.image-list li>div a.overlay-video span,
ul.image-list li>div a img
{
	width:224px;
	height:168px;
}

a.video-preview,	
a.video-preview.overlay-image span,
a.video-preview.overlay-video span,
a.video-preview img
{
	width:670px;
	height:502px;
}

/******************************************************************************/
/*  Main																	  */
/******************************************************************************/

div.main
{
	width:750px;
}

div.main-body
{
	margin-left:-375px;
}

	/**************************************************************************/
	/*  Main / Header														  */
	/**************************************************************************/
	
	div.header div.layout-50p-left,
	div.header div.layout-50p-right
	{
		width:48%;
		clear:none;
	}
	
	div.header div.layout-50p-left
	{
		float:left;
	}
	
	div.header div.layout-50p-right
	{
		float:right;
	}

	/**************************************************************************/
	/*  Main / Footer														  */
	/**************************************************************************/
		
		div.footer div.layout-50-left,
		div.footer div.layout-50-right
		{
			width:670px;
		}