
/******************************************************************************/
/*  Accordion																  */
/******************************************************************************/

		.nostalgia-accordion .ui-accordion-header a
		{
			font-size:24px;
		}

/******************************************************************************/
/*	Headers																	  */
/******************************************************************************/

h1,h1 a	{ font-size:40px; }
h2,h2 a	{ font-size:30px; }
h3,h3 a	{ font-size:24px; }
h4,h4 a	{ font-size:18px; }
h5,h5 a { font-size:16px; }

h5,h5 a	{ line-height:140%; }

/******************************************************************************/
/*  Form																	  */
/******************************************************************************/

		ul.form-line li input,
		ul.form-line li textarea
		{
			width:238px;
		}
		
/******************************************************************************/
/*  Newsletter form															  */
/******************************************************************************/

		#newsletter-form ul.form-line li input[type="text"]
		{
			width:159px;
		}
	
/******************************************************************************/
/*  Paragraph																  */
/******************************************************************************/

p.subtitle-paragraph,
p.subtitle-paragraph span.bold
{
	font-size:20px;
}

p.subtitle-paragraph span.bold
{
	clear:none;
	display:inline;
}

/******************************************************************************/
/*  Testimonials list														  */
/******************************************************************************/

			ul.testimonial-list li div span.testimonial-list-author
			{
				clear:both;
				display:block;
				font-size:12px;
			}
			
/******************************************************************************/
/*  Image size																  */
/******************************************************************************/

ul.image-list li>div a.preloader,	
ul.image-list li>div a.overlay-image span,
ul.image-list li>div a.overlay-video span,
ul.image-list li>div a img
{
	width:280px;
	height:195px;
}

a.video-preview,	
a.video-preview.overlay-image span,
a.video-preview.overlay-video span,
a.video-preview img
{
	width:260px;
	height:195px;
}

/******************************************************************************/
/*  Main																	  */
/******************************************************************************/

div.main
{
	width:300px;
}

div.main-body
{
	margin-left:-150px;
}

	/**************************************************************************/
	/*  Main / Content														  */
	/**************************************************************************/

		/**********************************************************************/
		/*  Main / Content / Section List									  */
		/**********************************************************************/

			ul.section-list>li
			{
				padding:20px;
				margin-top:20px;
			}
			
	/**************************************************************************/
	/*  Main / Footer														  */
	/**************************************************************************/
		
		div.footer div.layout-50-left,
		div.footer div.layout-50-right
		{
			width:260px;
			padding:20px;
		}