/******************************************************************************/
/*	Layouts																	  */
/******************************************************************************/

	/**************************************************************************/
	/*	Layout 50x50														  */
	/*	Layout 50x50 (in percentage)										  */
	/**************************************************************************/
	
	.layout-50-left,
	.layout-50-right,
	.layout-50p-left,
	.layout-50p-right
	{ 
		width:100%;
		clear:both;
		float:none; 
	}
	
	.layout-50-left,
	.layout-50p-left
	{
		margin-bottom:30px;
	}
	
/******************************************************************************/
/*	List						                                              */
/******************************************************************************/

		/**********************************************************************/
		/*	List / List 2                                                     */
		/**********************************************************************/

		ul.list-2
		{
			margin-bottom:50px;
		}
	
/******************************************************************************/
/*  Form																	  */
/******************************************************************************/
	
		ul.form-line li textarea
		{
			height:100px;
		}
		
/******************************************************************************/
/*  Newsletter form															  */
/******************************************************************************/
		
#newsletter-form 
{
	margin-top:20px;
}

/******************************************************************************/
/*  Paragraph																  */
/******************************************************************************/

p.subtitle-paragraph,
p.subtitle-paragraph span.bold
{
	font-size:20px;
}
		
/******************************************************************************/
/*  Goole Maps																  */
/******************************************************************************/

	.map-wrapper #map
	{
		height:160px;
	}
		
/******************************************************************************/
/*  Contact details box														  */
/******************************************************************************/

	div.contact-details .layout-50p-left
	{
		margin-bottom:20px;
	}