
/******************************************************************************/
/*  Contact details box														  */
/******************************************************************************/

div.contact-details
{
	
}

	div.contact-details .layout-50p-left,
	div.contact-details .layout-50p-right
	{
		width:48%;
		margin:0px;
		clear:none;
	}

	div.contact-details .layout-50p-left
	{
		float:left;
		clear:both;
	}
	
	div.contact-details .layout-50p-right
	{
		float:right;
	}