/******************************************************************************/
/*	Headers																	  */
/******************************************************************************/

h1,h1 a { font-size:50px; }
h2,h2 a	{ font-size:40px; }

/******************************************************************************/
/*  Form																	  */
/******************************************************************************/

		ul.form-line li input,
		ul.form-line li textarea
		{
			width:358px;
		}

/******************************************************************************/
/*  Newsletter form															  */
/******************************************************************************/

		#newsletter-form ul.form-line li input[type="text"]
		{
			width:279px;
		}

/******************************************************************************/
/*  Image size																  */
/******************************************************************************/

ul.image-list li>div a.preloader,	
ul.image-list li>div a.overlay-image span,
ul.image-list li>div a.overlay-video span,
ul.image-list li>div a img
{
	width:205px;
	height:154px;
}

a.video-preview,	
a.video-preview.overlay-image span,
a.video-preview.overlay-video span,
a.video-preview img
{
	width:380px;
	height:285px;
}

/******************************************************************************/
/*  Main																	  */
/******************************************************************************/

div.main
{
	width:460px;
}

div.main-body
{
	margin-left:-230px;
}

	/**************************************************************************/
	/*  Main / Header														  */
	/**************************************************************************/

	div.header div.header-phone
	{
		float:left;
	}

	/**************************************************************************/
	/*  Main / Footer														  */
	/**************************************************************************/
		
		div.footer div.layout-50-left,
		div.footer div.layout-50-right
		{
			width:380px;
		}